* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    background-color: rgb(247, 217, 155);
}

.bar {
    background-image: url("../img/nav_bg.png");
    width: 100%;
    height: 150px;
}

.h1, .h3, .h4 {
    color: rgb(4, 4, 61);
    text-shadow: 1px 1px white, -1px -1px #444;
}

.h2 {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: rgb(198, 224, 255);
}

.sk_img {
    border: 5px solid rgba(32, 29, 29, 0.8);
}

.div {
    height: 650px;
    width: 100%;
}

.div1 {
    background-image: url("../img/div1_bg.png");
}

.div1-1 {
    /* background-color: burlywood; */
    background: linear-gradient(90deg, #e6a654, #da886f);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    /* opacity:0.9; */
    height: 630px;
}
.tr_show{
    background:rgba(255, 255, 255, 0.2);
}
.div2 {
    background-image: url("../img/bg.png");

}

.center {
    /* width:455px; */
    width: 90%;
    height: 480px;
    /* background-color: blue; */
}

.tv_span {
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.tv {
    /* width:450px; */
    width: 90%;
    height: 360px;
    margin: -6px;
    background: linear-gradient(90deg, #505050, #383838);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.5);

}

.tv_b {
    /* width: 440px; */
    width: 90%;
    height: 320px;
}

marquee {
    right: 0;
    bottom: -8px;
    background: rgba(0, 0, 0, 0.4);
}

.div3 {
    background: linear-gradient(90deg, #552c05, #380c00);
    color: blanchedalmond;

}

.div3-1 {
    height: 220px;
    overflow: auto;
}

.div3-1::-webkit-scrollbar {
    /* display: none; */
    width: 4px;
}

.div3-1::-webkit-scrollbar-thumb {
    background: rgba(102, 86, 56, 0.1);
}

.div3-1::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

.ex_div {
    height: 350px;
    overflow: auto;

}

/* width */
.ex_div::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
.ex_div::-webkit-scrollbar-track {
    background: rgba(100, 60, 22, 0.1);
}

/* Handle */
.ex_div::-webkit-scrollbar-thumb {
    background: rgba(102, 86, 56, 0.1);
}

/* Handle on hover */
.ex_div::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

.line {
    width: 2px;
    background-color: cornsilk;
}

.card a {
    color: rgb(48, 22, 10);

    text-shadow: 1px 1px rgb(190, 165, 165), -1px -1px rgb(136, 135, 135);
    /* color: rgb(220, 209, 245); */
    /* font-weight:bold; */
}

.card a:hover {
    color: rgb(6, 64, 97);
    font-size: 20px;
}

.card-header {
    height: 40px;
    font-size: 18px;
    margin: -10px;
}

.card-body {
    color: rgb(48, 3, 3);
}

.dd {
    font-size: 19px;
}

.mm{
    position: relative;
}
.mask{
    position: absolute;
    background: rgba(17, 17, 17, .7);
    top: 0;
    left: 73px;
    width:350px;
    height:240px;
    opacity: 0;
    transition: all .5s ease;
}
.mask a,.link a{
    color:lightcyan;
}
.link a:hover{
    color:rgb(108, 175, 175);
}
.mask a:hover{
    color:rgb(108, 175, 175);
}
.mm:hover .mask{
    opacity: 1;
}
footer {
    height: 81px;
    color: rgb(182, 178, 178);
}