
.aside{
    position: fixed;
    background-color: rgb(50, 50, 51);
    top:0;
    left:0;
    width: 200px;
    height:auto;

}
.b1{
    position: fixed;
    background-color: rgb(50, 50, 51);
    bottom:30px;
    left:30px;
}
.b2{
    position: fixed;
    background-color: rgb(50, 50, 51);
    bottom:30px;
    left:30px;
}
.main{
    /* height:915px; */
    background-color: rgb(248, 236, 220);
    overflow:auto;

}