.container{
    background: rgba(255,255,255,.3);
}
.main{
    background: rgba(255,255,255,.7);

}
li{
    list-style: none;
    margin: 5px 0;
}
.aside{
    position: fixed;
    background-color: rgb(50, 50, 51);
    top:0;
    right:0;
    width: 250px;
    height:auto;
    z-index: 900;
}
.open_b{
    position: fixed;
    background-color: rgb(203, 245, 219);
    bottom:30px;
    right:30px;
    width:40px;
    height:40px;
    z-index: 995;
    color:rgb(2, 51, 21);
}
.close_b{
    position: fixed;
    background-color: rgb(87,87,87);
    bottom:30px;
    right:30px;
    width:40px;
    height:40px;
    z-index: 999;
}
@keyframes dong { 
    0% {             
        transform: translate(0px, 0px);            
     }            
     50% {                
        transform: translate(0px, 10px);            
     }            
     100% {                
        transform: translate(0px, 0px);
     }
}
header{
    font-size: 60px;
    color:rgb(3, 53, 14);
    text-shadow: -1px -1px 0px rgb(134, 161, 140),
    3px 3px 0px rgb(134, 161, 140),
    6px 6px 0px rgb(134, 161, 140);
    animation: dong 2s infinite;
}
.i{
    transition: all .5s ease;
}
.fa-github:hover{
    transform: rotate(-30deg);
}
.fa-envelope:hover{
    transform: rotate(-30deg);
}
.fa-instagram:hover{
    transform: rotate(-30deg);
}
.link a{
    color:lightcyan;
}
.link a:hover{
    color:rgb(108, 175, 175);
    
}
.nav{
    color:rgb(197, 228, 230);
}
.nav:hover{
    color:cadetblue;
    text-decoration: none;
    background-color: rgb(77, 78, 78);

}
#top{
    background:url("../img/top.jpg") ;
    background-position: center;
    background-size: cover;
    /* 背景不隨著滾輪改變 */
    background-attachment: fixed; 
    /* 螢幕可見範圍寬度的百分比 */
    width: 100vw; 
    height: 100vh;
    overflow:auto;

}
#top::-webkit-scrollbar {
    display: none;
}

.por_div{
    position: relative;
    height:225px;
    width:225px;
}
.mask{
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0px;
    height:225px;
    width:225px;
    opacity: 0;
    transition: all .5s ease;
    color:rgb(7, 45, 117);
}
.por_div:hover .mask{
    opacity: 1;

}
.mask a{
    color:rgb(23, 80, 80);
}
.link a:hover{
    color:rgb(108, 175, 175);
    
}
.mask a:hover{
    color:rgb(108, 175, 175);
}
.card-body li:hover{
    color:#ffe4e1;
    font-size:30px;
}


footer{
    color:rgb(65, 65, 65);
    height:80px;
    
}